<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">postgres://azvkrfuyqbjbfq:316b0cc4119746acc0682791300a52b4184ff6f247b4
          e117a205dc448b3c5947@ec2-54-225-241-25.compute-1.amazonaws.com:5432/dtcuhia48pshm</property>
        <property name="hibernate.connection.username">azvkrfuyqbjbfq</property>
        <property name="hibernate.connection.password">316b0cc4119746acc0682791300a52b4184ff6f247b4e117a205dc448b3c5947</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">false</property>
    </session-factory>
</hibernate-configuration>
